@import '@styles/partials';

.themeSlider {
	display: flex;
	align-items: center;

	.iconButton {
		@extend %baseButton;
		margin: 0 0.5rem;

		.icon {
			height: 18px;
			width: 18px;
			stroke: #8892b0;
			fill: #8892b0;
			transition: fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
			pointer-events: none;
		}

		&:hover {
			.icon {
				fill: #fa8b00;
				stroke: #fa8b00;
			}
		}
	}

	.switchButton {
		@extend %baseButton;
		margin: 0 0.5rem;

		.switch {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 35px;
			height: 25px;
			cursor: none;
			pointer-events: none;
			-webkit-tap-highlight-color: transparent;

			input {
				display: none;

				&:checked + .slider {
					background-color: #fa8b00;
				}

				&:checked + .slider:before {
					-webkit-transform: translateX(25px);
					-ms-transform: translateX(25px);
					transform: translateX(25px);
				}
			}

			.slider {
				display: block;
				width: 100%;
				height: 5px;
				background-color: grey;
				border-radius: 25px;

				&:before {
					position: absolute;
					content: '';
					height: 15px;
					width: 15px;
					left: -2.5px;
					bottom: 5px;
					background-color: #ccd6f6;
					-webkit-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
					border-radius: 50%;
				}
			}
		}
	}
}

:global(.light) .themeSlider {
	&.themeSelf {
		button {
			.icon {
				stroke: #424242;
				fill: #424242;
			}

			&:hover {
				.icon {
					fill: #212121;
					stroke: #212121;
				}
			}
		}

		.slider:before {
			background-color: #424242;
		}
	}
}
