// $primaryFont: 'Noyh Geometric', 'Gill Sans', 'Gill Sans MT', Calibri,
// 	'Trebuchet MS', sans-serif;

@font-face {
	font-family: 'Cera Pro';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Cera Pro'), url('/fonts/cerapro-light.woff2') format('woff2'),
		url('/fonts/cerapro-light.woff') format('woff');
}
@font-face {
	font-family: 'Cera Pro';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Cera Pro'), url('/fonts/cerapro-regular.woff2') format('woff2'),
		url('/fonts/cerapro-regular.woff') format('woff');
}
@font-face {
	font-family: 'Cera Pro';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Cera Pro'), url('/fonts/cerapro-medium.woff2') format('woff2'),
		url('/fonts/cerapro-medium.woff') format('woff');
}

@font-face {
	font-family: 'Cera Pro';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Cera Pro'), url('/fonts/cerapro-bold.woff2') format('woff2'),
		url('/fonts/cerapro-bold.woff') format('woff');
}
@font-face {
	font-family: 'Cera Pro';
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
	src: local('Cera Pro'), url('/fonts/cerapro-black.woff2') format('woff2'),
		url('/fonts/cerapro-black.woff') format('woff');
}

$primaryFont: 'Cera Pro';

$secondaryFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fonts: (
	primary: $primaryFont,
	secondary: $secondaryFont,
);

@function font($fontName) {
	@return map-get($map: $fonts, $key: $fontName);
}

$sizes: (
	s1: 3.25rem,
	s2: 3rem,
	s3: 2.75rem,
	s4: 2.5rem,
	s5: 2.25rem,
	s6: 2rem,
	s7: 1.875rem,
	s8: 1.75rem,
	s9: 1.625rem,
	s10: 1.5rem,
	s11: 1.375rem,
	s12: 1.25rem,
	s13: 1.125rem,
	s14: 1rem,
	s15: 0.875rem,
	s16: 0.75rem,
	s17: 0.625rem,
	s18: 0.5rem,
);

@function size($size) {
	@return map-get($map: $sizes, $key: $size);
}

$weights: (
	light: 300,
	regular: 400,
	medium: 500,
	bold: 600,
	black: 900,
);

@function weight($weight) {
	@return map-get($map: $weights, $key: $weight);
}
