@use 'sass:map';

$primaryFont: var(--font-cera-pro), 'Cera Pro', sans-serif;

$secondaryFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fonts: (
	primary: $primaryFont,
	secondary: $secondaryFont,
);

@function font($fontName) {
	@return map.get($fonts, $fontName);
}

$sizes: (
	s1: 3.25rem,
	s2: 3rem,
	s3: 2.75rem,
	s4: 2.5rem,
	s5: 2.25rem,
	s6: 2rem,
	s7: 1.875rem,
	s8: 1.75rem,
	s9: 1.625rem,
	s10: 1.5rem,
	s11: 1.375rem,
	s12: 1.25rem,
	s13: 1.125rem,
	s14: 1rem,
	s15: 0.875rem,
	s16: 0.75rem,
	s17: 0.625rem,
	s18: 0.5rem,
);

@function size($size) {
	@return map.get($sizes, $size);
}

$weights: (
	light: 300,
	regular: 400,
	medium: 500,
	bold: 600,
	black: 900,
);

@function weight($weight) {
	@return map.get($weights, $weight);
}
