@use 'theme';
@use 'fonts';
@use 'breakpoints';

%container {
	font-family: fonts.font(primary);
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 150px;
	transition: padding 0.5s ease-in-out;

	@include theme.theme {
		color: theme.themedColor(text);
	}

	@include breakpoints.breakpoint(laptop-md) {
		padding: 0 120px;
	}
	@include breakpoints.breakpoint(laptop-sm) {
		padding: 0 100px;
	}

	@include breakpoints.breakpoint(tablet-md) {
		padding: 0 40px;
	}

	@include breakpoints.breakpoint(tablet-sm) {
		padding: 0 20px;
	}
}
