@import 'theme', 'fonts';

%container {
	font-family: font(primary);
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 150px;
	transition: padding 0.5s ease-in-out;

	@include theme {
		color: themedColor('text');
	}

	@include breakpoint(laptop-md) {
		padding: 0 120px;
	}
	@include breakpoint(laptop-sm) {
		padding: 0 100px;
	}

	@include breakpoint(tablet-md) {
		padding: 0 40px;
	}

	@include breakpoint(tablet-sm) {
		padding: 0 20px;
	}
}
