@import 'colors';

$themes: (
	light: (
		default: #000,
		background: #fff,
		secondaryBackground: #fffaea,
		textMuted: #424242,
		text: #7c7c7c,
		accent: #fa8b00,
		scrollbar: #414141,
		heading: #424242,
		subHeading: #6e6e6e,
		navbarBackground: rgba(255, 255, 255, 0.75),
		sideNavbarBackground: #fffaeb,
		navbarBoxShadow: #fff,
		navbarLogo: #424242,
		navbarLogoHover: #212121,
		navbarLink: #9c9c9c,
		navbarBurgerMenuIcon: #424242,
		navbarLinkHover: #bbb,
		navbarLinkActive: #0e121a,
		footerIcon: #424242,
		footerIconHover: #212121,
		homeIcon: #424242,
		cursorDot: #424242,
		cursorRing: rgba(166, 166, 166, 0.4),
		tooltipBackground: #ffebce,
	),
	dark: (
		default: #fff,
		background: #0e121a,
		secondaryBackground: #131924,
		text: #8892b0,
		textMuted: #465267,
		accent: #fa8b00,
		scrollbar: #465267,
		heading: #ccd6f6,
		subHeading: #8892b0,
		navbarBackground: rgba(14, 18, 26, 0.75),
		sideNavbarBackground: #18202e,
		navbarBoxShadow: #0e121a,
		navbarLogo: #8892b0,
		navbarLogoHover: #eee,
		navbarLink: #a6afc0,
		navbarBurgerMenuIcon: #ccd6f6,
		navbarLinkHover: #bbb,
		navbarLinkActive: #fff,
		footerIcon: #465267,
		footerIconHover: #eee,
		homeIcon: #ccd6f6,
		cursorDot: #ccd6f6,
		cursorRing: rgba(66, 66, 66, 0.4),
		tooltipBackground: #1e293c,
	),
);

@mixin theme {
	@each $theme, $map in $themes {
		:global(.theme-#{$theme}) & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function themedColor($key) {
	@return map-get($theme-map, $key);
}
