@use 'theme';
@use 'fonts';
@use 'breakpoints';

%heading {
	font-size: fonts.size(s1);
	font-weight: fonts.weight(medium);
	margin: 0;
	transition: all 0.5s ease-in-out;

	@include theme.theme {
		color: theme.themedColor(heading);
	}

	@include breakpoints.breakpoint(laptop-lg) {
		font-size: fonts.size(s2);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s3);
	}

	@include breakpoints.breakpoint(laptop-sm) {
		font-size: fonts.size(s4);
	}

	@include breakpoints.breakpoint(mobile-md) {
		font-size: fonts.size(s5);
	}
}

%subHeading {
	font-size: fonts.size(s3);
	font-weight: fonts.weight(medium);
	margin: 0;
	transition: all 0.5s ease-in-out;

	@include theme.theme {
		color: theme.themedColor(subHeading);
	}

	@include breakpoints.breakpoint(laptop-lg) {
		font-size: fonts.size(s4);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s6);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s7);
	}

	@include breakpoints.breakpoint(mobile-md) {
		font-size: fonts.size(s8);
	}

	@include breakpoints.breakpoint(mobile-sm) {
		font-size: fonts.size(s9);
	}
}

%title {
	font-size: fonts.size(s9);
	font-weight: fonts.weight(regular);
	margin: 0;
	transition: all 0.5s ease-in-out;

	@include theme.theme {
		color: theme.themedColor(accent);
	}

	@include breakpoints.breakpoint(laptop-lg) {
		font-size: fonts.size(s10);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s11);
	}

	@include breakpoints.breakpoint(laptop-sm) {
		font-size: fonts.size(s12);
	}

	@include breakpoints.breakpoint(mobile-sm) {
		font-size: fonts.size(s13);
	}
}

%paragraph {
	font-size: fonts.size(s13);
	line-height: 1.4;
	font-weight: fonts.weight(regular);
	transition: all 0.5s ease-in-out;
	margin: 0;

	@include theme.theme {
		color: theme.themedColor(text);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s14);
	}

	@include breakpoints.breakpoint(tablet-sm) {
		font-size: fonts.size(s13);
	}

	@include breakpoints.breakpoint(mobile-sm) {
		font-size: fonts.size(s14);
	}
}

%subTitle {
	font-size: fonts.size(s11);
	font-weight: fonts.weight(regular);
	margin: 0;
	transition: all 0.5s ease-in-out;

	@include breakpoints.breakpoint(laptop-lg) {
		font-size: fonts.size(s12);
	}

	@include breakpoints.breakpoint(laptop-md) {
		font-size: fonts.size(s12);
	}

	@include breakpoints.breakpoint(laptop-sm) {
		font-size: fonts.size(s13);
	}

	@include breakpoints.breakpoint(mobile-sm) {
		font-size: fonts.size(s13);
	}
}

%title2 {
	font-size: fonts.size(s12);
	font-weight: fonts.weight(light);
	transition: all 0.5s ease-in-out;
	margin: 0;

	@include breakpoints.breakpoint(laptop-lg) {
		font-size: fonts.size(s13);
	}

	@include breakpoints.breakpoint(laptop-sm) {
		font-size: fonts.size(s14);
	}
}