@use 'sass:map';
@use 'variables' as *;

@function desktop-mockup-width($device: default) {
	@return map.get($desktop-mockup-widths, $device);
}

@function mobile-mockup-width($device: default) {
	@return map.get($mobile-mockup-widths, $device);
}

@function mobile-mockup-height($device: default) {
	@return 2.02568 * mobile-mockup-width($device);
}

@function mobile-image-width($device: default) {
	@return 0.914 * mobile-mockup-width($device);
}

@function mobile-image-height($device: default) {
	@return 0.9654 * mobile-mockup-height($device);
}
