@use '@styles/core' as *;
@use 'sass:meta';
@use 'variables' as *;
@use 'functions' as *;

@mixin breakpointProperty($property, $fn) {
	$fn-ref: meta.get-function($fn);
	#{$property}: meta.call($fn-ref);

	@each $breakpointName, $propertyValue in $mockupsBreakpoints {
		@include breakpoint($breakpointName) {
			#{$property}: meta.call($fn-ref, $breakpointName);
		}
	}
}

@mixin desktopMockupWidth($property) {
	@include breakpointProperty($property, 'desktop-mockup-width');
}

@mixin mobileMockupWidth($property) {
	@include breakpointProperty($property, 'mobile-mockup-width');
}

@mixin mobileMockupHeight($property) {
	@include breakpointProperty($property, 'mobile-mockup-height');
}

@mixin mobileImageWidth($property) {
	@include breakpointProperty($property, 'mobile-image-width');
}

@mixin mobileImageHeight($property) {
	@include breakpointProperty($property, 'mobile-image-height');
}
