@import '@styles/core';

@import 'mixins';
@import 'variables';
@import 'functions';

.projects {
	@include theme {
		background-color: themedColor(secondaryBackground);
	}

	transition: background 0.5s ease-in-out;
	padding: 6rem 0;

	@include breakpoint(tablet-sm) {
		padding: 2.5rem 0;
	}

	.container {
		@extend %container;

		h1 {
			@extend %heading;
		}

		.projectsContainer {
			display: flex;
			margin-top: 3rem;
			flex-direction: column;

			.project {
				background-color: rgba(#343b48, 0.3);
				width: 100%;
				border-radius: 8px;
				display: flex;
				gap: 2rem;
				margin: 1rem 0;
				padding: 4rem;
				max-height: 385px;

				&.left {
					flex-direction: row-reverse;
					.content {
						text-align: right;

						.keywords,
						.links {
							justify-content: end;
						}
					}
				}

				.content {
					flex-basis: calc(50% - 1rem);
					h2 {
						font-size: 35px;
						font-weight: 500;
						color: white;
						margin: 0;
					}

					.description {
						color: white;
						font-size: 16px;
					}

					.keywords {
						display: flex;
						column-gap: 1rem;
						.keyword {
							font-weight: 300;
							color: white;
						}
					}

					.links {
						display: flex;
						align-items: center;
						column-gap: 1rem;
						.github {
							width: 22px;
							height: 22px;
							@include theme {
								fill: themedColor(default);
							}
						}

						.link {
							width: 25px;
							height: 25px;
							color: white;
						}
					}
				}

				.images {
					flex-basis: calc(50% - 1rem);
					position: relative;
					flex-shrink: 0;
					margin-bottom: -4rem;
					display: flex;
					justify-content: flex-end;

					.desktopContainer {
						display: flex;
						flex-direction: column;
						height: 100%;
						position: relative;
						margin-right: 4rem;

						@include desktopMockupWidth(width);

						.desktopMockupContainer {
							position: relative;

							img {
								border-top-left-radius: 8px;
								border-top-right-radius: 8px;
								position: absolute;
								top: 0;
								opacity: 0;
								transition: opacity 0.5s ease-in-out;
								display: block;
								width: 100%;
								height: auto;

								&.active {
									opacity: 1;
								}
							}
						}

						.desktopImageContainer {
							&::-webkit-scrollbar {
								display: none;
							}
							overflow-y: scroll;
							-ms-overflow-style: none;
							scrollbar-width: none;

							@include desktopMockupHeight(top);

							position: relative;

							@include desktopImageHeight('height');
							z-index: zIndex(level1);

							img {
								display: block;
								width: 100%;
								height: auto;
							}
						}
					}

					.mobileContainer {
						position: absolute;
						bottom: 0;
						right: 0;

						@include mobileMockupWidth('width');
						@include mobileMockupHeight('height');

						.mobileMockupContainer {
							height: 100%;

							img {
								bottom: 0;
								right: 0;
								position: absolute;
								opacity: 0;
								z-index: 1;
								pointer-events: none;
								display: block;
								width: 100%;
								height: auto;
								transition: opacity 0.5s ease-in-out;

								&.active {
									opacity: 1;
								}
							}
						}

						.mobileImageContainer {
							&::-webkit-scrollbar {
								display: none;
							}

							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							position: absolute;
							overflow-y: scroll;
							-ms-overflow-style: none;
							scrollbar-width: none;

							@include mobileImageWidth('width');
							@include mobileImageHeight('height');
							border-radius: 8%;

							img {
								display: block;
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}

		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		// column-gap: 10rem;
		// transition: all 0.5s ease-in-out;

		// @include breakpoint(desktop-md) {
		// 	column-gap: 6rem;
		// }
		// @include breakpoint(laptop-md) {
		// 	column-gap: 4rem;
		// }
		// @include breakpoint(tablet-lg) {
		// 	column-gap: 2rem;
		// }
		// @include breakpoint(tablet-sm) {
		// 	flex-direction: column;
		// 	row-gap: 2.5rem;
		// 	column-gap: 0;
		// }
	}
}
