.container {
	padding: 10px 40px;
	// background-color: #0e121a;
	color: #a6afc0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Cera Pro';
	font-weight: 500;
	font-size: 16px;
	transition: background-color 0.5s ease-in-out;

	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: rgba(14, 18, 26, 0.75);
	box-shadow: 0 10px 30px -10px #0e121a;
	transition: background-color 0.5s ease-in-out, transform 0.15s ease-in-out,
		padding 0.15s ease-in-out, box-shadow 0.5s ease-in-out;

	&.top {
		padding: 20px 40px;
	}
	&.hide {
		transform: translateY(-80px);
	}

	.logo {
		height: 40px;
		width: 40px;
		fill: #8892b0;
		cursor: pointer;
		transition: fill 0.5s ease-in-out;
	}

	.linksContainer {
		display: flex;

		.active {
			color: #fff;
		}
		.link {
			padding: 20px;
		}
		.resume {
			padding-right: 0;
			color: #fa8b00;
		}
	}

	@media screen and (max-width: 750px) {
		display: none;
	}
}

:global(.light) .container {
	background-color: rgba(2552, 255, 255, 0.75);
	box-shadow: 0 10px 30px -10px #fff;

	.logo {
		fill: #0e121a;
	}

	.linksContainer {
		display: flex;

		.link {
			padding: 20px;
			color: #9c9c9c;
		}
		.active {
			color: #0e121a;
		}
		.resume {
			padding-right: 0;
			color: #fa8b00;
		}
	}
}
