.container {
	padding: 10px 40px;
	background-color: #0e121a;
	color: #a6afc0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Cera Pro';
	font-weight: 500;
	font-size: 16px;
	transition: background-color 0.5s ease-in-out;

	.imageContainer {
		height: 40px;
		width: 40px;
		position: relative;

		img {
			filter: invert(66%) sepia(13%) saturate(605%) hue-rotate(187deg)
				brightness(86%) contrast(89%);
		}
	}

	.linksContainer {
		display: flex;

		.active {
			color: #fff;
		}
		.link {
			padding: 20px;
		}
		.resume {
			padding-right: 0;
			color: #fa8b00;
		}
	}

	@media screen and (max-width: 750px) {
		display: none;
	}

	.toggleTheme {
		.moonContainer {
			height: 13px;
			width: 13px;
		}
		.sunContainer {
			height: 16px;
			width: 16px;
		}

		.sunContainer,
		.moonContainer {
			position: relative;
			img {
				filter: invert(83%) sepia(21%) saturate(279%) hue-rotate(190deg)
					brightness(99%) contrast(96%);
			}
		}

		display: flex;
		align-items: center;
		div,
		label {
			margin: 0 0.4rem;
		}
		.switch {
			position: relative;
			width: 35px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.switch input {
			display: none;
		}

		.slider {
			display: block;
			// position: absolute;
			width: 100%;
			height: 5px;
			// cursor: pointer;
			// top: 0;
			// left: 0;
			// right: 0;
			// bottom: 0;
			background-color: grey;

			border-radius: 25px;
		}

		.slider:before {
			position: absolute;
			content: '';
			height: 15px;
			width: 15px;
			left: -2.5px;
			bottom: 5px;
			background-color: #ccd6f6;
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			border-radius: 50%;
		}

		input:checked + .slider {
			background-color: #fa8b00;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(25px);
			-ms-transform: translateX(25px);
			transform: translateX(25px);
		}
	}
}

:global(.light) .container {
	background-color: #fff;

	.slider:before {
		background-color: #0e121a;
	}

	.imageContainer,
	.moonContainer,
	.sunContainer {
		img {
			filter: invert(6%) sepia(51%) saturate(0%) hue-rotate(261deg)
				brightness(91%) contrast(84%);
		}
	}

	.linksContainer {
		display: flex;

		.link {
			padding: 20px;
			color: #9c9c9c;
		}
		.active {
			color: #0e121a;
		}
		.resume {
			padding-right: 0;
			color: #fa8b00;
		}
	}
}
