@use '@styles/core' as *;

%baseButton {
	display: block;
	background-color: transparent;
	border: none;
	cursor: none;
	font-weight: 400;

	@include breakpoint(tablet-lg) {
		cursor: pointer;
	}
}

%accentButton {
	@extend %baseButton;

	padding: 15px 25px;
	border-radius: 8px;
	font-family: font(primary);
	font-size: 16px;

	@include theme {
		color: themedColor('accent');
		border: 2px solid themedColor('accent');
	}
}
