@use '@styles/core' as *;

.customCursor {
	.cursorDot {
		height: 10px;
		width: 10px;
		z-index: zIndex(level7);
		position: fixed;
		border-radius: 50%;
		top: -100px;
		left: -100px;
		transform: translate(-50%, -50%);
		pointer-events: none;
		opacity: 1;
		transition: height 0.25s ease-in-out, width 0.25s ease-in-out,
			background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

		@include theme {
			background-color: themedColor(cursorDot);
		}

		@include breakpoint(tablet-lg) {
			display: none;
		}
	}

	.cursorRing {
		z-index: zIndex(level6);
		position: fixed;
		top: -100px;
		left: -100px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		opacity: 1;
		transition: height 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33),
			width 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33),
			background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

		@include theme {
			background-color: themedColor(cursorRing);
		}

		@include breakpoint(tablet-lg) {
			display: none;
		}
	}

	&.hidden {
		.cursorDot,
		.cursorRing {
			opacity: 0;
		}
	}

	&.link {
		.cursorDot {
			height: 0px;
			width: 0px;
		}

		.cursorRing {
			height: 50px;
			width: 50px;
		}
	}
}
