@use '@styles/core' as *;

* {
	box-sizing: border-box;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #465267 #0e121a;
	transition: scrollbar-color 0.5s ease-in-out;

	&.hideOverflow {
		touch-action: none;
	}

	&,
	body {
		padding: 0;
		margin: 0;
		font-family: font(secondary);
		scroll-behavior: smooth;
		overflow-x: hidden;
		cursor: none;

		@include breakpoint(tablet-lg) {
			cursor: default;
		}
	}

	body {
		background: #0e121a;
		transition: background 0.5s ease-in-out;

		&::-webkit-scrollbar {
			width: 12px;
		}
		&::-webkit-scrollbar-track {
			background: #0e121a;
		}
		&::-webkit-scrollbar-thumb {
			background: #465267;
			border: 3px solid #0e121a;
			border-radius: 10px;
		}

		a {
			color: inherit;
			text-decoration: none;
			cursor: none;

			&:focus-visible {
				outline: none;
			}

			@include breakpoint(tablet-lg) {
				cursor: pointer;
			}
		}

		button {
			cursor: none;

			&:focus-visible {
				outline: none;
			}

			@include breakpoint(tablet-lg) {
				cursor: pointer;
			}
		}

		svg,
		button,
		a {
			-webkit-tap-highlight-color: transparent;
		}
	}
	&.theme-light {
		scrollbar-color: #414141 #fff;

		body {
			background: #fcf9ed;

			&::-webkit-scrollbar-track {
				background: #fcf9ed;
			}
			&::-webkit-scrollbar-thumb {
				background: #414141;
				border: 3px solid #fcf9ed;
			}
		}
	}
}
