.layout {
	transition: filter 0.2s linear;
	height: 100vh;
	display: flex;
	flex-direction: column;

	&.preloader {
		overflow: hidden;
		max-height: 100vh;

		&.mobile {
			max-height: calc(100vh - 56px);
		}
	}

	.innerContainer {
		position: relative;
	}
}

:global(.blur) .layout {
	filter: blur(4px);
}
