// $primaryFont: 'Noyh Geometric', 'Gill Sans', 'Gill Sans MT', Calibri,
// 	'Trebuchet MS', sans-serif;

$primaryFont: 'Cera Pro';

$secondaryFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fonts: (
	primary: $primaryFont,
	secondary: $secondaryFont,
);

@function font($fontName) {
	@return map-get($map: $fonts, $key: $fontName);
}

$sizes: (
	tiny: 0.6rem,
	small: 0.8rem,
	regular: 1rem,
	medium: 1.2rem,
	large: 1.4rem,
	h5: 1.6rem,
	h4: 1.8rem,
	h3: 2rem,
	h2: 2.2rem,
	h1: 2.4rem,
	huge: 2.6rem,
);

@function size($size) {
	@return map-get($map: $sizes, $key: $size);
}

$weights: (
	light: 300,
	regular: 400,
	medium: 500,
	bold: 600,
	black: 900,
);

@function weight($weight) {
	@return map-get($map: $weights, $key: $weight);
}
