@import '@styles/partials';

@mixin mobile {
	padding: 114px 20px 20px 20px;

	.socialContainer,
	.email {
		display: none;
	}

	.content {
		padding: 0;
		grid-template-columns: 100%;

		.greet {
			grid-row: 1/2;

			h3 {
				font-size: 20px;
				padding-bottom: 8px;
			}
			h1 {
				font-size: 42px;
			}
			h2 {
				font-size: 22px;
				padding-bottom: 8px;
			}
		}
		.about {
			grid-row: 3/4;

			p {
				font-size: 16px;
				font-weight: 400;
				color: #8892b0;

				span {
					color: #fa8b00;
				}
			}

			button {
				font-size: 16px;
				margin: 20px 0;
			}
		}
		.imageContainer {
			grid-column: 1/2;
			grid-row: 2/3;
			justify-self: left;
			width: 280px;
			height: 357px;
			margin: 20px 0;
		}
	}
}

%mobile {
	@include mobile;
}

.home {
	display: flex;
	color: white;
	min-height: 100vh;
	padding: 100px 40px 20px 40px;
	font-family: 'Cera Pro';
	transition: background-color 0.5s ease-in-out;

	&.mobile {
		@extend %mobile;
		min-height: calc(100vh - 56px) !important;
	}

	.socialContainer {
		position: absolute;
		bottom: 0px;

		&:after {
			content: '';
			position: relative;
			display: block;
			transition: border-color 0.5s ease-in-out;
			width: 2px;
			left: 48%;

			@include theme {
				border-top: 200px solid themedColor('homeIcon');
			}
		}

		.iconsContainer {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;

			.iconLink {
				-webkit-tap-highlight-color: transparent;
				margin: 0.6rem 0;
				cursor: none;

				.icon {
					height: 22px;
					width: 20px;
					transition: stroke 0.5s ease-in-out;
					margin: 0 5px;
					pointer-events: none;

					@include theme {
						stroke: themedColor('homeIcon');
					}
				}

				&:hover .icon {
					@include theme {
						stroke: themedColor('accent');
					}
				}
			}
		}
	}

	.email {
		position: absolute;
		bottom: 0px;
		right: 40px;
		width: 25px;
		p {
			margin: 0;
			transform: rotate(90deg) translate(-250px);
			letter-spacing: 2.5px;
			transition: color 0.5s ease-in-out;

			@include theme {
				color: themedColor('homeIcon');
			}

			span {
				pointer-events: none;

				@include theme {
					color: themedColor('accent');
				}
			}
		}

		&:after {
			content: '';
			position: relative;
			display: block;
			transition: border-color 0.5s ease-in-out;
			width: 2px;
			left: 48%;

			@include theme {
				border-top: 200px solid themedColor('homeIcon');
			}
		}
	}

	.content {
		display: grid;
		padding: 0px 200px;
		width: 100%;
		grid-template-columns: 50% 50%;
		align-content: center;

		.greet {
			grid-column: 1/2;
			grid-row: 1/2;
			align-self: end;

			h3 {
				font-size: 24px;
				font-weight: 400;
				margin: 0;
				padding-bottom: 14px;
				transition: color 0.5s ease-in-out;

				@include theme {
					color: themedColor('accent');
				}
			}
			h1 {
				font-size: 52px;
				font-weight: 500;
				margin: 0;
				transition: color 0.5s ease-in-out;

				@include theme {
					color: themedColor('heading');
				}
			}
			h2 {
				font-size: 45px;
				font-weight: 500;
				margin: 0;
				transition: color 0.5s ease-in-out;

				@include theme {
					color: themedColor('subHeading');
				}
			}
		}
		.about {
			grid-column: 1/2;
			grid-row: 2/3;
			align-self: start;

			p {
				font-size: 18px;
				font-weight: 400;
				transition: color 0.5s ease-in-out;

				@include theme {
					color: themedColor('text');
				}

				span {
					color: #fa8b00;
				}
			}

			button {
				@extend %accentButton;

				margin: 25px 0;
				padding: 12px 20px;
			}
		}
		.imageContainer {
			grid-column: 2/3;
			grid-row: 1/3;
			align-self: center;
			justify-self: end;
			width: 446px;
			height: 570px;
			position: relative;
		}
	}

	// @media screen and (max-width: 1650px) {
	// 	.content {
	// 		padding: 0px 150px;
	// 	}
	// }
	@media screen and (max-width: 1550px) {
		.content {
			padding: 0px 100px;

			.greet {
				h2 {
					font-size: 38px;
					margin: 0;
				}
			}

			.imageContainer {
				width: 350px;
				height: 446px;
			}
		}
	}

	@media screen and (max-width: 1250px) {
		.content {
			.greet {
				h3 {
					font-size: 20px;
					padding-bottom: 14px;
				}
				h1 {
					font-size: 50px;
					margin: 0;
				}
				h2 {
					font-size: 30px;
					margin: 0;
				}
			}

			.about {
				p {
					font-size: 18px;
				}

				button {
					font-size: 16px;
					margin: 25px 0;
					padding: 12px 20px;
				}
			}
			.imageContainer {
				width: 300px;
				height: 382px;
			}
		}
	}
	@media screen and (max-width: 1050px) {
		.content {
			.greet {
				h3 {
					font-size: 18px;
					padding-bottom: 14px;
				}
				h1 {
					font-size: 40px;
					margin: 0;
				}
				h2 {
					font-size: 26px;
					margin: 0;
				}
			}

			.about {
				p {
					font-size: 16px;
				}

				button {
					font-size: 14px;
					margin: 25px 0;
					padding: 12px 20px;
				}
			}
			.imageContainer {
				width: 260px;
				height: 331px;
			}
		}
	}
	@media screen and (max-width: 850px) {
		.socialContainer,
		.email {
			display: none;
		}
		.content {
			padding: 0px 40px;

			.imageContainer {
				width: 260px;
				height: 331px;
			}
		}
	}
	@media screen and (max-width: 750px) {
		@include mobile;
		min-height: 100vh;
	}
}
