@use '@styles/partials' as *;
@use '@styles/core' as *;

.container {
	position: relative;

	.home {
		@extend %container;

		display: flex;
		padding-top: 100px;
		min-height: 100vh;
		align-items: center;
		position: relative;

		&.mobile {
			min-height: calc(100vh - 56px) !important;
			padding-top: 100px;
		}

		.aboutContainer {
			p {
				@extend %paragraph;
				margin-bottom: 10px;

				a {
					font-weight: 500;
					@include theme {
						color: themedColor(accent);
					}
				}
			}

			.ctaButton {
				@extend %accentButton;
				display: inline-block;
				margin: 25px 0;
			}
		}

		.content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			column-gap: 100px;

			@include breakpoint(laptop-lg) {
				column-gap: 80px;
			}
			@include breakpoint(laptop-md) {
				column-gap: 60px;
			}
			@include breakpoint(laptop-sm) {
				column-gap: 40px;
			}
			@include breakpoint(tablet-md) {
				column-gap: 20px;
			}
			@include breakpoint(tablet-sm) {
				column-gap: 0px;
				flex-direction: column;
				align-items: start;
			}

			.information {
				h1 {
					@extend %heading;

					.greeting {
						@extend %title;
						display: block;
						margin-bottom: 5px;
					}

					.subtitle {
						@extend %subHeading;
						display: block;
						margin-top: 10px;

						@include breakpoint(tablet-sm) {
							margin-top: 5px;
						}
					}
				}

				.about {
					@include breakpoint(tablet-sm) {
						display: none;
					}
				}
			}

			.imageContainer {
				flex-shrink: 0;
				position: relative;
				// place-self: center end;
				width: 338px;
				height: 450px;
				z-index: zIndex(level1);
				margin: 0 40px 40px 0;
				transition: all 0.5s ease-in-out;

				img {
					border-radius: 8px;
				}

				@include breakpoint(laptop-lg) {
					width: 300.44px;
					height: 400px;
				}

				@include breakpoint(laptop-md) {
					width: 262.89px;
					height: 350px;
					margin: 0 30px 30px 0;
				}

				@include breakpoint(laptop-sm) {
					width: 225.33px;
					height: 300px;
					margin: 0 25px 25px 0;
				}

				@include breakpoint(tablet-md) {
					width: 210.31px;
					height: 280px;
				}

				@include breakpoint(tablet-sm) {
					margin: 25px 0 50px 0;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: -4px;
					left: -4px;
					width: 100%;
					height: 100%;
					border-radius: 8px;
					transform: translate(25px, 25px);
					pointer-events: none;
					z-index: zIndex(level0);
					transition: transform 0.5s ease-in-out;

					@include theme {
						border: 4px solid themedColor(accent);
					}

					@include breakpoint(laptop-md) {
						transform: translate(15px, 15px);
					}
				}

				&:hover:after {
					transform: translate(35px, 35px);

					@include breakpoint(laptop-md) {
						transform: translate(25px, 25px);
					}
					@include breakpoint(laptop-sm) {
						transform: translate(20px, 20px);
					}
				}
			}

			.aboutMobile {
				display: none;

				@include breakpoint(tablet-sm) {
					display: block;
				}
			}
		}
	}
}
