@import '@styles/partials';
@import '@styles/core';

@mixin mobile {
	padding: 114px 20px 20px 20px;

	.socialContainer,
	.email {
		display: none;
	}

	.content {
		padding: 0;
		grid-template-columns: 100%;

		.greet {
			grid-row: 1/2;

			h3 {
				font-size: 20px;
				padding-bottom: 8px;
			}
			h1 {
				font-size: 42px;
			}
			h2 {
				font-size: 22px;
				padding-bottom: 8px;
			}
		}
		.about {
			grid-row: 3/4;

			p {
				font-size: 16px;
				font-weight: 400;
				color: #8892b0;

				span {
					color: #fa8b00;
				}
			}

			button {
				font-size: 16px;
				margin: 20px 0;
			}
		}
		.imageContainer {
			grid-column: 1/2;
			grid-row: 2/3;
			justify-self: left;
			width: 280px;
			height: 357px;
			margin: 20px 0;
		}
	}
}

%mobile {
	@include mobile;
}

%sideElement {
	position: absolute;
	bottom: 0px;
	transition: all 0.5s ease-in-out;

	&:after {
		content: '';
		position: relative;
		display: block;
		transition: border-color 0.5s ease-in-out;
		width: 2px;
		left: 48%;

		@include theme {
			border-top: 200px solid themedColor('homeIcon');
		}
	}
}

.home {
	@extend %container;

	display: flex;
	padding-top: 100px;
	min-height: 100vh;
	align-items: center;

	&.mobile {
		@extend %mobile;
		min-height: calc(100vh - 56px) !important;
	}

	.socialContainer {
		@extend %sideElement;

		left: 40px;

		@include breakpoint(laptop-sm) {
			left: 20px;
		}

		.iconsContainer {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;

			.iconLink {
				-webkit-tap-highlight-color: transparent;
				margin: 0.6rem 0;
				cursor: none;

				.icon {
					height: 22px;
					width: 20px;
					transition: stroke 0.5s ease-in-out;
					margin: 0 5px;
					pointer-events: none;

					@include theme {
						stroke: themedColor('homeIcon');
					}
				}

				&:hover .icon {
					@include theme {
						stroke: themedColor('accent');
					}
				}
			}
		}
	}

	.email {
		@extend %sideElement;

		right: 40px;
		width: 25px;

		@include breakpoint(laptop-sm) {
			right: 20px;
		}

		p {
			margin: 0;
			transform: rotate(90deg) translate(-250px);
			letter-spacing: 2.5px;
			transition: color 0.5s ease-in-out;

			@include theme {
				color: themedColor('homeIcon');
			}

			span {
				pointer-events: none;

				@include theme {
					color: themedColor('accent');
				}
			}
		}
	}

	.content {
		display: grid;
		grid: repeat(2, 1fr) / 2fr 1fr;
		column-gap: 100px;

		@include breakpoint(laptop-lg) {
			column-gap: 80px;
		}
		@include breakpoint(laptop-md) {
			column-gap: 60px;
		}
		@include breakpoint(laptop-sm) {
			column-gap: 40px;
		}

		.greet {
			grid-area: 1 / 1 / 2 / 2;
			align-self: end;

			h3 {
				@extend %title;
				padding-bottom: 5px;
			}
			h1 {
				@extend %heading;
			}
			h2 {
				@extend %subHeading;
			}
		}
		.about {
			grid-area: 2 / 1 / 3 / 2;
			align-self: start;

			p {
				@extend %paragraph;

				span {
					@include theme {
						color: themedColor('accent');
					}
				}
			}

			button {
				@extend %accentButton;

				margin: 25px 0;
			}
		}
		.imageContainer {
			grid-area: 1 / 2 / 3 / 3;
			position: relative;
			place-self: center end;
			width: 338px;
			height: 450px;
			z-index: zIndex(level1);
			margin: 0 40px 40px 0;
			transition: all 0.5s ease-in-out;

			img {
				border-radius: 8px;
			}

			@include breakpoint(laptop-lg) {
				width: 300.44px;
				height: 400px;
			}

			@include breakpoint(laptop-md) {
				width: 262.89px;
				height: 350px;
			}

			@include breakpoint(laptop-sm) {
				width: 225.33px;
				height: 300px;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -4px;
				left: -4px;
				width: 100%;
				height: 100%;
				border-radius: 8px;
				transform: translate(35px, 35px);
				pointer-events: none;
				z-index: zIndex(level0);
				transition: transform 0.5s ease-in-out;

				@include theme {
					border: 4px solid themedColor('accent');
				}

				@include breakpoint(laptop-md) {
					transform: translate(25px, 25px);
				}
				@include breakpoint(laptop-sm) {
					transform: translate(20px, 20px);
				}
			}

			&:hover:after {
				transform: translate(25px, 25px);

				@include breakpoint(laptop-md) {
					transform: translate(15px, 15px);
				}
			}
		}
	}

	// @media screen and (max-width: 1650px) {
	// 	.content {
	// 		padding: 0px 150px;
	// 	}
	// }
	// @media screen and (max-width: 1550px) {
	// 	.content {
	// 		padding: 0px 100px;

	// 		.greet {
	// 			h2 {
	// 				font-size: 38px;
	// 				margin: 0;
	// 			}
	// 		}

	// 		.imageContainer {
	// 			width: 350px;
	// 			height: 446px;
	// 		}
	// 	}
	// }

	// @media screen and (max-width: 1250px) {
	// 	.content {
	// 		.greet {
	// 			h3 {
	// 				font-size: 20px;
	// 				padding-bottom: 14px;
	// 			}
	// 			h1 {
	// 				font-size: 50px;
	// 				margin: 0;
	// 			}
	// 			h2 {
	// 				font-size: 30px;
	// 				margin: 0;
	// 			}
	// 		}

	// 		.about {
	// 			p {
	// 				font-size: 18px;
	// 			}

	// 			button {
	// 				font-size: 16px;
	// 				margin: 25px 0;
	// 				padding: 12px 20px;
	// 			}
	// 		}
	// 		.imageContainer {
	// 			width: 300px;
	// 			height: 382px;
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 1050px) {
	// 	.content {
	// 		.greet {
	// 			h3 {
	// 				font-size: 18px;
	// 				padding-bottom: 14px;
	// 			}
	// 			h1 {
	// 				font-size: 40px;
	// 				margin: 0;
	// 			}
	// 			h2 {
	// 				font-size: 26px;
	// 				margin: 0;
	// 			}
	// 		}

	// 		.about {
	// 			p {
	// 				font-size: 16px;
	// 			}

	// 			button {
	// 				font-size: 14px;
	// 				margin: 25px 0;
	// 				padding: 12px 20px;
	// 			}
	// 		}
	// 		.imageContainer {
	// 			width: 260px;
	// 			height: 331px;
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 850px) {
	// 	.socialContainer,
	// 	.email {
	// 		display: none;
	// 	}
	// 	.content {
	// 		padding: 0px 40px;

	// 		.imageContainer {
	// 			width: 260px;
	// 			height: 331px;
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 750px) {
	// 	@include mobile;
	// 	min-height: 100vh;
	// }
}
