@import '@styles/core';

.preloader {
	display: flex;
	opacity: 0;
	position: absolute;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: transparent;
	z-index: zIndex(level0);

	transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out,
		z-index 0.25s ease-in-out;

	&.visible {
		opacity: 1;
		z-index: zIndex(level7);

		@include theme {
			background-color: themedColor(background);
		}
	}

	&.mobile {
		height: calc(100vh - 56px);
	}

	.logoContainer {
		position: relative;
		width: 35px;
		margin-bottom: 2rem;

		.logo {
			pointer-events: none;
			transition: fill 0.25s ease-in-out;

			@include theme {
				fill: themedColor(navbarLogo);
			}
		}
	}
	.loader {
		background-color: red;
	}
}
