@use '@styles/core' as *;

.container {
	padding: 10px 40px;
	color: #a6afc0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Cera Pro';
	font-weight: 500;
	font-size: 16px;
	transition: background-color 0.5s ease-in-out;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: zIndex(level3);
	transition: background-color 0.5s ease-in-out, transform 0.12s linear,
		padding 0.3s ease-in-out, box-shadow 0.5s ease-in-out;

	@include theme {
		background-color: themedColor(navbarBackground);
		box-shadow: 0 10px 30px -10px themedColor(navbarBoxShadow);
	}

	@include breakpoint(laptop-sm) {
		padding: 10px 20px;
	}

	&.top {
		padding: 20px 40px;

		@include breakpoint(laptop-sm) {
			padding: 20px;
		}
	}
	&.hide {
		transform: translateY(-100px);
	}

	.logo {
		.icon {
			height: 40px;
			pointer-events: none;
			transition: fill 0.5s ease-in-out;

			@include theme {
				fill: themedColor(navbarLogo);
			}
		}

		&:hover .icon {
			@include theme {
				fill: themedColor(navbarLogoHover);
			}
		}
	}

	.linksContainer {
		display: flex;

		a {
			margin: 20px;
			transition: color 0.5s ease-in-out;
			@include theme {
				color: themedColor(navbarLink);
			}

			&.active {
				@include theme {
					color: themedColor(navbarLinkActive);
				}
			}

			&:hover {
				@include theme {
					color: themedColor(navbarLinkHover);
				}
			}

			&.accent {
				@include theme {
					color: themedColor(accent);
				}
			}
		}
	}

	@media screen and (max-width: 750px) {
		display: none;
	}
}
