.container {
	padding: 30px 40px;
	background-color: #0e121a;
	color: #465267;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: 'Cera Pro';
	font-weight: 500;
	font-size: 14px;

	.imageContainer {
		height: 70px;
		width: 70px;
		position: relative;
		margin-bottom: 10px;
	}

	.socialContainer {
		display: flex;
		margin: 20px 0;

		& > div {
			height: 35px;
			width: 35px;
			position: relative;
			margin: 0 5px;
		}
	}
}

:global(.light) .container {
	background-color: #fff;
}
