@import '@styles/core';

.experience {
	padding: 6rem 0;

	@include breakpoint(tablet-sm) {
		padding: 2.5rem 0;
	}

	.container {
		@extend %container;

		h1 {
			@extend %heading;
		}

		.innerContainer {
			position: relative;
			padding-left: 4rem;
			margin-top: 3rem;
			padding-top: 1rem;
			padding-bottom: 1rem;

			&:before {
				content: '';
				position: absolute;
				width: 8px;
				top: 0;
				bottom: 0;
				left: 0;
				border-radius: 20px;
				transition: background-color 0.5s ease-in-out;

				@include theme {
					background-color: themedColor(timelineBackground);
				}
			}

			.experienceCard {
				position: relative;
				margin-bottom: 3rem;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					top: 6px;
					left: calc(-4rem - 6px);
					border-radius: 100%;
					transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;

					@include theme {
						background-color: themedColor(background);
						border: 4px solid themedColor(accent);
					}
				}

				h3 {
					@extend %subTitle;
					margin-bottom: 5px;
					pointer-events: none;
					display: inline-block;
				}

				.experienceDetails {
					display: flex;
					justify-content: space-between;

					.position {
						@include theme {
							color: themedColor(heading);
						}
					}
				}

				.companyName {
					@include theme {
						color: themedColor(accent);
					}
				}

				.tasks {
					padding-left: 2rem;
					margin-top: 1rem;
					display: flex;
					flex-direction: column;

					.task {
						margin: 0.3rem 0;
						position: relative;

						p {
							@extend %paragraph;
							position: relative;
							display: inline;
							line-height: 1.5rem;

							&:before {
								content: '';
								position: absolute;
								width: 12px;
								height: 3px;
								top: 45%;
								left: -20px;
								border-radius: 5px;
								transition: background-color 0.5s ease-in-out;

								@include theme {
									background-color: themedColor(textMuted);
								}
							}
						}

						.iconLink {
							-webkit-tap-highlight-color: transparent;
							position: absolute;
							bottom: -2px;

							.icon {
								height: 18px;
								width: 18px;
								transition: stroke 0.5s ease-in-out;
								margin: 0 10px;
								pointer-events: none;

								@include theme {
									stroke: themedColor(homeIcon);
								}
							}

							&:hover .icon {
								@include theme {
									stroke: themedColor(accent);
								}
							}
						}
					}
				}
			}
		}
	}
}
