@use '@styles/core' as *;

.experience {
	padding: 6rem 0;
	transition: padding 0.5s ease-in-out;

	@include breakpoint(tablet-sm) {
		padding: 2.5rem 0;
	}

	.container {
		@extend %container;

		h1 {
			@extend %heading;
		}

		.innerContainer {
			position: relative;
			padding-left: 4rem;
			margin-top: 3rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			transition: padding-left 0.5s ease-in-out, margin-top 0.5s ease-in-out;

			@include breakpoint(tablet-md) {
				padding-left: 2rem;
				margin-top: 2rem;
			}

			h2 {
				@extend %title;
			}

			&:before {
				content: '';
				position: absolute;
				width: 8px;
				top: 0;
				bottom: 0;
				left: 0;
				border-radius: 20px;
				transition: background-color 0.5s ease-in-out;

				@include theme {
					background-color: themedColor(timelineBackground);
				}
			}

			.experienceCard {
				position: relative;
				margin-bottom: 3rem;
				transition: margin-bottom 0.5s ease-in-out;

				@include breakpoint(tablet-md) {
					margin-bottom: 2rem;
				}

				@include breakpoint(mobile-lg) {
					margin-bottom: 1rem;
				}

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					top: 6px;
					left: calc(-4rem - 6px);
					border-radius: 100%;
					transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out,
						left 0.5s ease-in-out;

					@include theme {
						background-color: themedColor(background);
						border: 4px solid themedColor(accent);
					}

					@include breakpoint(tablet-md) {
						left: calc(-2rem - 6px);
					}
				}

				h3 {
					@extend %subTitle;
					margin-bottom: 5px;
					pointer-events: none;
					display: inline-block;
					font-weight: weight(medium);
				}

				.experienceDetails {
					display: flex;
					justify-content: space-between;
					transition: flex-direction 0.5s ease-in-out;

					@include breakpoint(tablet-md) {
						flex-direction: column;
					}

					.duration {
						@extend %title2;
						margin-bottom: 5px;
					}

					.position {
						font-weight: weight(medium);

						@include theme {
							color: themedColor(heading);
						}
					}
				}

				.companyName {
					@include theme {
						color: themedColor(accent);
					}

					font-weight: weight(regular);
				}

				.tasks {
					padding-left: 1.5rem;
					margin-top: 1rem;
					display: flex;
					flex-direction: column;
					transition: margin-top 0.5s ease-in-out;

					@include breakpoint(tablet-md) {
						margin-top: 0.5rem;
					}

					.task {
						margin: 0.2rem 0;
						position: relative;
						width: 60%;
						transition: width 0.5s ease-in-out;

						@include breakpoint(laptop-md) {
							width: 80%;
						}

						@include breakpoint(tablet-lg) {
							width: 90%;
						}

						@include breakpoint(tablet-md) {
							width: 100%;
						}

						p {
							@extend %paragraph;
							position: relative;
							line-height: 1.6rem;
							transition: font-size 0.5s ease-in-out;

							@include breakpoint(mobile-lg) {
								font-size: size(s14);
							}

							&:before {
								content: '';
								position: absolute;
								width: 10px;
								height: 2px;
								top: 12px;
								left: -20px;
								border-radius: 5px;
								transition: background-color 0.5s ease-in-out;

								@include theme {
									background-color: themedColor(listIcon);
								}
							}

							.iconLink {
								-webkit-tap-highlight-color: transparent;
								position: relative;
								bottom: -2px;

								.icon {
									height: 18px;
									width: 18px;
									transition: stroke 0.5s ease-in-out;
									margin-left: 10px;
									pointer-events: none;

									@include theme {
										stroke: themedColor(homeIcon);
									}
								}

								&:hover .icon {
									@include theme {
										stroke: themedColor(accent);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}