@import '@styles/core';

.container {
	@extend %container;
	min-height: calc(100vh - 228px);
	padding-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

	&.mobile {
		min-height: calc(100vh - 284px) !important;
	}

	p {
		@extend %paragraph;
		display: flex;
		align-items: center;

		span {
			@extend %title;
			margin: 0 0.2rem;
		}
	}
}
