@import '@styles/core';

.container {
	padding: 30px 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: font(secondary);
	font-weight: 500;
	font-size: 14px;
	transition: background-color 0.5s ease-in-out;

	@include theme {
		color: themedColor(textMuted);
	}

	.logo {
		height: 60px;
		width: 60px;
		margin-bottom: 10px;
		transition: fill 0.5s ease-in-out;

		@include theme {
			fill: themedColor(footerIcon);
		}

		&:hover {
			@include theme {
				fill: themedColor(footerIconHover);
			}
		}
	}

	.socialContainer {
		display: flex;
		margin: 20px 0;

		.iconLink {
			-webkit-tap-highlight-color: transparent;

			.icon {
				height: 35px;
				width: 35px;
				transition: fill 0.5s ease-in-out;
				margin: 0 5px;
				pointer-events: none;

				@include theme {
					fill: themedColor(footerIcon);
				}
			}

			&:hover .icon {
				@include theme {
					fill: themedColor(footerIconHover);
				}
			}
		}
	}
}
