.container {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;

	.topNavbarContainer {
		padding: 15px 20px;
		background-color: rgba(14, 18, 26, 0.75);
		color: #a6afc0;
		justify-content: space-between;
		align-items: center;
		font-family: 'Cera Pro';
		font-weight: 500;
		font-size: 16px;
		display: none;
		transition: background-color 0.5s ease-in-out, transform 0.15s ease-in-out,
			padding 0.15s ease-in-out, box-shadow 0.5s ease-in-out;
		box-shadow: 0 10px 30px -10px #0e121a;

		&.transparent {
			background-color: rgba(14, 18, 26, 0.15);
			box-shadow: none;
		}
		&.top {
			padding: 25px 20px;
		}
		&.hide {
			transform: translateY(-85px);
		}

		&.hide.transparent {
			transform: none;
		}

		@media screen and (max-width: 750px) {
			display: flex;
		}

		.logo {
			height: 40px;
			width: 40px;
			fill: #8892b0;
			cursor: pointer;
			transition: fill 0.5s ease-in-out;

			&:hover {
				fill: #eee;
			}
		}

		.menuButtonContainer {
			z-index: 999;
			position: relative;
			display: flex;
			justify-content: right;
			align-items: center;
			height: 30px;
			width: 30px;
			transition: all 0.5s ease-in;

			.menuButtonBurger {
				width: 25px;
				height: 0.15rem;
				background: #ccd6f6;
				transition: all 0.5s ease-in-out;

				&::before,
				&::after {
					content: '';
					position: absolute;
					width: 25px;
					height: 0.15rem;
					background: #ccd6f6;
					transition: all 0.5s ease-in-out;
				}

				&::before {
					transform: scaleX(1.2) translate(-2px, -10px);
				}
				&::after {
					transform: scaleX(0.8) translate(3px, 10px);
				}
			}

			&.isMenuOpen .menuButtonBurger {
				background: transparent;
				box-shadow: none;

				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}

	.sideNavbarContainer {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		width: 100%;
		transition: all 0.5s ease-in-out;
		display: flex;
		justify-content: flex-end;

		&.isMenuOpen {
			right: 0;
		}

		.sideNavbar {
			padding: 15px 20px;
			background-color: #20293d;
			color: #ccd6f6;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;
			width: 80%;
			// padding-top: 150px;
			box-shadow: -10px 0px 30px -15px rgba(2, 12, 28, 0.7);

			.link {
				padding: 25px;
			}

			.active {
				color: #fff;
				// font-weight: 500;
			}
			.resume {
				margin-top: 20px;
				color: #fa8b00;
				border: 2px solid #fa8b00;
				padding: 20px 60px;
				border-radius: 8px;
			}

			.themeSliderContainer {
				margin-top: 4rem;
			}
		}
	}
}
:global(.light) .container {
	.topNavbarContainer {
		background-color: rgba(2552, 255, 255, 0.75);
		box-shadow: 0 10px 30px -10px #fff;

		&.transparent {
			background-color: rgba(2552, 255, 255, 0.1);
			box-shadow: none;
		}
	}

	.logo {
		fill: #424242;

		&:hover {
			fill: #212121;
		}
	}

	.menuButtonContainer {
		.menuButtonBurger {
			background: #0e121a;

			&::before,
			&::after {
				background: #0e121a;
			}
		}

		&.isMenuOpen .menuButtonBurger {
			&::before,
			&::after {
				background: #ccd6f6;
			}
		}
	}
}
